include "binds.kdl"
include "inputs.kdl"
include "outputs.kdl"
include "rules.kdl"
include "settings.kdl"
include "layout.kdl"

include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/wpblur.kdl"
include "dms/cursor.kdl"
